.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #00091c;
}

.navbar h1 {
    color: rgb(108, 28, 200);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.nav-links button:hover {
    background-color: #800b0b;
}